<form method="post" action="/books/add">
    <label for="name">Name : <input type="text" name="name"></label><br><br>

    <label for="subject">Subject : <input type="text" name="subject"></label><br><br>

    <label for="sem">Sem:</label>
    <select name="sem">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select><br><br>

    <label for="branch">Branch:</label>
    <select name="branch">
        <option value="Civil">Civil</option>
        <option value="Computer" selected>Computer</option>
        <option value="Electrical">Electrical</option>
        <option value="Information Technology">Information Technology</option>
        <option value="Mechanical" >Mechanical</option>
    </select><br><br>

    <label for="coverpage_url">coverpage url : <input type="text" name="coverpage_url"></label><br><br>
    <label for="download_link">Download link : <input type="text" name="download_link"></label><br><br>

    <input type="submit" name="submit" value="Add Books">
</form>